<!doctype html>
<html lang="pt-BR">
    <head>
        <title>{% block title %}{% endblock title %}Receitas</title>
    </head>

{% include 'recipes/partials/head.html' %}

    <body>


        {% include 'recipes/partials/header.html' %}

        <main class="content pb-5">
            <div class="content container">
                <div class="search-content">
                    {% include 'recipes/partials/search.html' %}
                </div>
                <div class="main-content pt-0">
                    <div class="main-content-list d-grid gap-5">
                        {% block content %}
                        
                        {% endblock content %}

                    </div>
                </div>
            </div>
        </main>
        {% include 'recipes/partials/footer.html' %}
    </body>
</html>
